h1 {
  display: flex;
  justify-content: center;
  color: #3687d1;
  margin: 0 auto;
  font-family: "Cabin", "Inter";
  font-size: 40px;
}
span {
  color: black;
}
nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: "Cabin", "Inter";
  font-size: 16px;
}
.link {
  padding: 0vh 11px;
}
#top100 {
  background-color: #d5e6f5;
  border-radius: 25px;
  margin: 12px;
  color: #3687d1;
  text-decoration: none;
}
#random {
  background-color: #d5e6f5;
  border-radius: 25px;
  margin: 12px;
  color: #3687d1;
  text-decoration: none;
}
#search {
  background-color: #d5e6f5;
  border-radius: 25px;
  margin: 12px;
  color: #3687d1;
  text-decoration: none;
}
.coinForm {
  display: block;
  text-align: center;
}
.coinInput {
  width: 300px;
  height: 20px;
}
.coinButton {
  background-color: #d5e6f5;
  border-radius: 25px;
  margin: 12px;
  color: #3687d1;
  font-family: "Cabin", "Inter";
  text-decoration: none;
}
.coins {
  display: flex;
  justify-content: center;
  font-size: 10px;
  padding-top: 5px;
}
.coinIcon {
  width: 40px;
  height: 40px;
  position: absolute;
  padding-right: 220px;
}
.coinRank {
  font-family: "Inter";
  position: absolute;
  padding-right: 140px;
  padding-top: 5px;
}
.coinName {
  font-family: "Inter";
  padding-left: 15px;
}
.coinSymbol {
  font-family: "Inter";
  color: #74797d;
  position: absolute;
  padding-top: 20px;
  padding-left: 15px;
}
.coinPrice {
  font-family: "Inter";
  position: absolute;
  padding-left: 220px;
}
.coinPercent {
  font-family: "Inter";
  color: Green;
  position: absolute;
  padding-top: 20px;
  padding-left: 220px;
}
.coinPercent2 {
  font-family: "Inter";
  color: red;
  position: absolute;
  padding-top: 20px;
  padding-left: 220px;
}

@media screen and (min-width: 650px) {
  h1 {
    font-size: 60px;
  }
  nav {
    font-size: 20px;
  }
  .link {
    padding: 0vh 60px;
  }
  .coins {
    font-size: 13px;
    padding-top: 20px;
  }
  .coinIcon {
    width: 60px;
    height: 60px;
    padding-right: 400px;
  }
  .coinRank {
    padding-right: 250px;
    padding-top: 0px;
  }
  .coinName {
    padding-left: 0px;
  }
  .coinSymbol {
    padding-top: 26px;
    padding-left: 0px;
  }
  .coinPrice {
    padding-left: 370px;
  }
  .coinPercent {
    padding-top: 25px;
    padding-left: 370px;
  }
  .coinPercent2 {
    padding-top: 25px;
    padding-left: 370px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 80px;
  }
  nav {
    font-size: 35px;
  }
  .link {
    padding: 0vh 100px;
  }
  .coinInput {
    margin: 40px;
    width: 500px;
    height: 30px;
    font-size: 20px;
  }
  .coinButton {
    width: 120px;
    height: 35px;
    font-size: 15px;
  }
  .coins {
    font-size: 20px;
    padding-top: 10px;
  }
  .coinIcon {
    width: 80px;
    height: 80px;
    padding-right: 600px;
  }
  .coinRank {
    padding-right: 400px;
    padding-top: 0px;
  }
  .coinName {
    padding-left: 0px;
  }
  .coinSymbol {
    padding-top: 40px;
    padding-left: 0px;
  }
  .coinPrice {
    padding-left: 500px;
  }
  .coinPercent {
    padding-top: 40px;
    padding-left: 500px;
  }
  .coinPercent2 {
    padding-top: 40px;
    padding-left: 500px;
  }
}
